ul{
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: center;
    display: flex;
    gap: 100px;
}
a{
    text-decoration: none;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    transition: all 0.3 ease;
}
p{
    text-align: center;
    font-size: 30px;
    color:black;
}
.img-cent{
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 20px 0;
}
.img-cent img{
    width: 500px;
    height: 400px;
}
/* 横线 */
h1{
    text-align: center;
}
a:link{
    color: #333333;
    background-color: #ade5ce;
    padding: 5px 12px;
    border-radius: 6px;

}
a:hover{
    color: black;
    background-color: #c1df9b;
}
/* 针对苹果手机Safari的专属修复 */
@media screen and (max-width: 768px) {
body{
    writing-mode: horizontal-tb !important; /* 关键：强制横向 */
    text-orientation: mixed !important;    /* 保证文字不旋转 */
    word-wrap: break-word !important;      /* 自动换行，不挤压 */
    background-color: #FFF9F0;
}
}
